extends layout

block content
  #banner.page-header
    .row
      .col-lg-6
        h1
          | Loc8r
          small &nbsp;Find places to work with wifi near you!
  .row
    .col-xs-12.col-sm-8
      .row.list-group
        .col-xs-12.list-group-item
          h4
            a(href='/location') 575 Pizzeria
            small &nbsp;
              span.glyphicon.glyphicon-star
              span.glyphicon.glyphicon-star
              span.glyphicon.glyphicon-star
              span.glyphicon.glyphicon-star
              span.glyphicon.glyphicon-star
            span.badge.pull-right.badge-default 100m
          p.address 7710 Hillside Rd Suite 700, Amarillo, TX 79119
          p
            span.label.label-warning Beer
            | &nbsp;
            span.label.label-warning Pizza
            | &nbsp;
            span.label.label-warning Premium wifi
            | &nbsp;
        .col-xs-12.list-group-item
          h4
            a(href='/location') Papa John's Pizza
            small &nbsp;
              span.glyphicon.glyphicon-star
              span.glyphicon.glyphicon-star
              span.glyphicon.glyphicon-star
              span.glyphicon.glyphicon-star-empty
              span.glyphicon.glyphicon-star-empty
            span.badge.pull-right.badge-default 200m
          p.address 3415 Bell St, Amarillo, TX 79109
          p
            span.label.label-warning Take-out/Delivery
            | &nbsp;
            span.label.label-warning Pizza
            | &nbsp;
            span.label.label-warning Wings
            | &nbsp;
        .col-xs-12.list-group-item
          h4
            a(href='/location') La Bella Pizza Hillside
            small &nbsp;
              span.glyphicon.glyphicon-star
              span.glyphicon.glyphicon-star
              span.glyphicon.glyphicon-star
              span.glyphicon.glyphicon-star
              span.glyphicon.glyphicon-star-empty
            span.badge.pull-right.badge-default 250m
          p.address 7230 Hillside Rd, Amarillo, TX 79109
          p
            span.label.label-warning Pizza
            | &nbsp;
            span.label.label-warning Salad
            | &nbsp;
            span.label.label-warning Calzones
            | &nbsp;
    .col-xs-12.col-sm-4
      p.lead
        | Looking for a good pizza place? Loc8r helps you find places to work when out and about. Perhaps with a salad, beer or a calzone? Let Loc8r help you find the place you're looking for.